Repository kubernetes-sigs/azuredisk-csi-driver, pull requests merged in 2020-10, with the labels that each got.

#562 Revert "fix: create nonroot user in Dockerfile"
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node.yaml
  pkg/azurediskplugin/Dockerfile
  pkg/azurediskplugin/dev.Dockerfile
Labels: approved, cncf-cla: yes, size/S

#563 fix: detach azure disk issue when vm not exist
  go.mod
  go.sum
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go
  vendor/k8s.io/legacy-cloud-providers/azure/metrics/azure_metrics.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/bug, size/L

#556 test: enable csi-proxy.exe in workflow and enable windows unit tests
  .github/workflows/windows.yml
  pkg/azuredisk/azure_test.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/fake_mounter.go
  pkg/azuredisk/nodeserver_test.go
  test/utils/testutil/testutil.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/L

#564 CI: Add darwin unit test workflow
  .github/workflows/darwin.yaml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  Makefile
  pkg/azuredisk/azure_common_test.go
  pkg/azuredisk/nodeserver_test.go
  test/utils/testutil/testutil.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/L

#565 test: add xfs test
  test/e2e/dynamic_provisioning_test.go
Labels: approved, cncf-cla: yes, kind/test, size/S

#566 fix: use dnsPolicy ClusterFirstWithHostNet for hostNetwork
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#567 test: enable one windows e2e test for in-tree driver
  deploy/example/statefulset.yaml
  test/e2e/dynamic_provisioning_test.go
Labels: approved, cncf-cla: yes, kind/test, size/XS

#568 test: enable one windows test for CSI driver
  test/e2e/dynamic_provisioning_test.go
Labels: approved, cncf-cla: yes, kind/test, size/XS

#569 test: fix windows deployment e2e test failure
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/specs.go
  test/e2e/testsuites/testsuites.go
Labels: approved, cncf-cla: yes, kind/test, size/S

#551 test: add e2e test for create snapshot on external resource group
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/e2e/testsuites/specs.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#575 fix: not schedule driver pod on virtual node
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Labels: approved, cncf-cla: yes, kind/bug, size/M

#578 test: set CSIMigrationAzureDiskComplete as true
  test/e2e/manifest/migration-windows.json
  test/e2e/manifest/migration.json
Labels: approved, cncf-cla: yes, kind/test, size/XS
