Repository kubernetes-sigs/azuredisk-csi-driver, pull requests merged in 2020-07, with the labels that each got.

#438 Test: add nodeserver unit test
  .travis.yml
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/L

#442 fix: driver installation issue
  deploy/install-driver.sh
Labels: approved, cncf-cla: yes, size/XS

#443 fix: logging missing due to klog/v2 change
  go.mod
  go.sum
  pkg/azuredisk/azure.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/identityserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azurediskplugin/main.go
  pkg/csi-common/controllerserver-default.go
  pkg/csi-common/driver.go
  pkg/csi-common/identityserver-default.go
  pkg/csi-common/nodeserver-default.go
  pkg/csi-common/server.go
  pkg/csi-common/utils.go
  pkg/csi-common/utils_test.go
  pkg/mounter/safe_mounter_windows.go
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/go.mod
  vendor/github.com/go-logr/logr/logr.go
  vendor/k8s.io/klog/v2/go.mod
  vendor/k8s.io/klog/v2/go.sum
  vendor/k8s.io/klog/v2/klog.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/bug, size/L

#444 chore: upgrade to csi v1.3.0
  go.mod
  go.sum
  pkg/azuredisk/controllerserver.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, size/XXL

#446 chore: add hack/release-image.sh
  hack/release-image.sh
  pkg/azuredisk/controllerserver_test.go
Labels: approved, cncf-cla: yes, kind/test, size/M

#447 test: add dev.Dockerfile
  .travis.yml
  Makefile
  deploy/uninstall-driver.sh
  pkg/azurediskplugin/dev.Dockerfile
Labels: approved, cncf-cla: yes, kind/test, size/M

#448 chore: update azure cloud provider lib
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/openshiftmanagedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/deploymentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/groups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/providers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/resources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/tags.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/version.go
  vendor/github.com/rubiojr/go-vhd/vhd/util.go
  vendor/github.com/rubiojr/go-vhd/vhd/vhd.go
  vendor/k8s.io/cloud-provider/OWNERS
  vendor/k8s.io/cloud-provider/cloud.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/cloud-provider/plugins.go
  vendor/k8s.io/cloud-provider/ports.go
  vendor/k8s.io/legacy-cloud-providers/azure/OWNERS
  vendor/k8s.io/legacy-cloud-providers/azure/azure.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_file.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_routes.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_storage.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_utils.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/azure_containerserviceclient.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/doc.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/containerserviceclient/interface.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/azure_deploymentclient.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/doc.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/deploymentclient/interface.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/fileclient/azure_fileclient.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/fileclient/interface.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/securitygroupclient/azure_securitygroupclient.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/cleanup, size/XXL

#449 test: Remove root privileges to run unit test
  .travis.yml
  pkg/azuredisk/fake_azuredisk_test.go
  pkg/azuredisk/fake_mounter.go
  pkg/azuredisk/fake_mounter_test.go
  pkg/azuredisk/nodeserver_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#450 fix: initial delay(1s) when mount azure disk
  pkg/azuredisk/nodeserver.go
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#452 test: add unit-test
  pkg/azuredisk/controllerserver_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/L

#454 test: add resize disk e2e test
  hack/release-image.sh
  test/e2e/driver/driver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, size/L

#458 test: fix resize e2e test failure
  pkg/azuredisk/controllerserver.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
Labels: approved, cncf-cla: yes, kind/test, size/XS

#457 ci: remove az command
  Makefile
Labels: cncf-cla: yes, size/XS

#456 test: add e2e-test-azuredisk-tag.
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/utils/azure/azure_helpers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#461 test: add new judgment in resize e2e-test.
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/M

#462 test: add unit-test in azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/M

#463 test: add unit-test in pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/M

#464 test: add snapshot-unit-test in azuredisk/controllerserver_test
  go.mod
  pkg/azuredisk/controllerserver_test.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/snapshotclient/mocksnapshotclient/doc.go
  vendor/k8s.io/legacy-cloud-providers/azure/clients/snapshotclient/mocksnapshotclient/interface.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#466 test: skip one flaky windows test
  test/e2e/dynamic_provisioning_test.go
Labels: approved, cncf-cla: yes, kind/test, lgtm, size/XS

#467 chore: set default imagePullPolicy
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS
