Repository kubernetes-sigs/azuredisk-csi-driver, pull requests merged in 2024-06, with the labels that each got.

#2345 test: fix codespell error
  .github/workflows/codespell.yml
  .github/workflows/trivy.yaml
Labels: kind/failing-test, size/XS, approved, cncf-cla: yes

#2355 chore: use go 1.22 in go.mod
  go.mod
  vendor/k8s.io/kubernetes/test/e2e/framework/testfiles/testdata/a/foo.txt
Labels: kind/failing-test, size/XS, approved, cncf-cla: yes

#2358 fix: shield guard issues on node
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows.yaml
  deploy/v1.29.5/csi-azuredisk-node.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows.yaml
  deploy/v1.30.1/csi-azuredisk-node.yaml
Labels: kind/bug, approved, lgtm, cncf-cla: yes, size/L, ok-to-test

#2354 fix: shield guard issues
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/v1.29.5/csi-azuredisk-controller.yaml
  deploy/v1.29.5/csi-snapshot-controller.yaml
  deploy/v1.30.1/csi-azuredisk-controller.yaml
  deploy/v1.30.1/csi-snapshot-controller.yaml
Labels: kind/bug, approved, cncf-cla: yes, size/L, ok-to-test

#2360 [release 1.28] fix shield guard on csi controller and node
  charts/latest/azuredisk-csi-driver-v1.28.8.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Labels: kind/bug, approved, lgtm, cncf-cla: yes, size/L, ok-to-test

#2366 fix: panic on Windows node when getFreeSpace failed on volume path
  pkg/azuredisk/azure_common_windows.go
Labels: kind/bug, size/XS, approved, cncf-cla: yes

#2364 fix: shield guard issue on windows node hostprocess initContainer
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows-hostprocess.yaml
Labels: kind/bug, size/S, approved, lgtm, cncf-cla: yes, ok-to-test

#2362 [release 1.29] fix shield guard on csi controller and node
  charts/latest/azuredisk-csi-driver-v1.29.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Labels: kind/bug, cncf-cla: yes, size/L, ok-to-test

#2363 [release 1.30] fix shield guard on csi controller and node
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Labels: kind/bug, approved, lgtm, cncf-cla: yes, size/L, ok-to-test

#2371 chore: adjust powershell cmd log level
  pkg/azureutils/azure_disk_utils.go
Labels: size/XS, approved, cncf-cla: yes, kind/cleanup

#2377 [release-1.29] chore: upgrade CSI driver sidecar image versions
  charts/latest/azuredisk-csi-driver-v1.29.6.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.29.5/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Labels: kind/feature, size/M, approved, cncf-cla: yes

#2376 [release-1.30] chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Labels: kind/feature, size/M, approved, cncf-cla: yes

#2372 chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/v1.29.5/csi-azuredisk-controller.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows.yaml
  deploy/v1.29.5/csi-azuredisk-node.yaml
  deploy/v1.29.5/csi-snapshot-controller.yaml
Labels: kind/feature, size/M, approved, cncf-cla: yes

#2384 fix: add ReservedDataDiskSlotNum copy from DriverOptions to Driver struct
  pkg/azuredisk/azuredisk.go
Labels: kind/bug, kind/feature, size/XS, approved, lgtm, cncf-cla: yes, ok-to-test
